org_id          = "123456789"
billing_account = "0123456-12A12B-56AB7C"
project_name    = "sample-project"
folder_id       = "101010101010"
cloudbuild_viewers = ["group:groupname@domain.com","group:group2@domain.com"]
cloudbuild_editors = ["group:groupname@domain.com","group:group2@domain.com"]